body {
  font-family: sans-serif;
  font-size: larger;
}

button {
  padding: 10px 20px;
  font-size: x-large;
  border-radius: 5px;
  color: white;
  background-color: grey;
  transition: 250ms;
}

button:hover {
  border-radius: 10px;
  padding: 13px 23px;
}

textarea {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
